body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
 
  .logo{
    max-width: 30%;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .children-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
  }
  
  .criancadireita{
    max-width: calc(25% - 10px) !important;
    height: auto;
    margin-top: 20%;
    margin-left: 45%;
  }
  .criancaesquerda {
    max-width: calc(35% - 10px) !important;
    height: auto;
    margin-top: 10%;
  }
  
  .memory-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .memory-game div{
    width: calc(20% - 10px); /* 25% para garantir um layout quadrado, subtrai o espaçamento entre os itens */
    aspect-ratio: 1/1; /* Mantém uma proporção quadrada */
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: #3498db !important;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card.flipped {
    background-color: rgb(204, 83, 46) !important;
  }
  
  .card.matched {
    background-color: rgb(11, 116, 54) !important;
    cursor: default;
  }
  
  .fa {
    font-size: 2em;
  }
  
  @media (max-width: 768px) {
    /* Estilos específicos para telas menores ou iguais a 768 pixels */
    .children-images {
      flex-direction:row;
    }
  
    body {
        margin: 0;
        overflow: hidden !important;
    }
     
  .logo{
    max-width: 50%;
   }
    .criancadireita,
    .criancaesquerda {
      display: none !important;
    }
  
    .memory-game .card {
      width: calc(25% - 10px) !important;
    }
  }
  